.section2{
    background-color: #3C3D3D;
    width: 100%;
    color: white;
    font-size: 20px;
}
.list-unstyled{
    color: white;
}
.section3{
    background-color: #F4F9FE;
}
.featurs{
    font-size: 30px;
}